*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	font-family: 'Nova Square', cursive;  /* fall back de font = cursive*/
}

button{
	background: none;
}

a{
	text-decoration: none;
}

*:focus{
	outline: none;
}