.main-section{
    padding-top: 50px;
    padding-bottom: 100px;

    height: 740px;

    background-size: 100%;

    border-bottom: 10px solid #2C2C54;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.skills{
    background-color: #706fd3;
}

.main-section.projects{
    background-color: #d1ccc0;
    border-bottom: 10px solid #706FD3;

    height: 530px;
}

.main-section.about{
    background-color: #2C2C54;
    border-bottom: 10px solid #D1CCC0;
}

.main-section.contact{
    background-color: #84817a;
    border-bottom: none;
}