.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c54;
    
    padding: 10px 20px;

    border-bottom: 10px solid #000;
}

/* ELEMENTO DO COMPONENTE HEADER = NÃO É UMA COMPONENTE A PARTE E
NÃO FUNCIONA SEM O COMPONENTE HEADER */

.main-header .logo-header{
    width: 80px;
    height: 60px;
}