/* fonte para o titulo João Taboada*/
@font-face {
    font-family: Summit;
    src: local("Summit"), url(SummitBold-Display.ttf); /* tem que estar na mesma pasta*/
}

.main-title{
    font-family: 'Nova Square', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #2c2c54;

    text-shadow: 3px 3px 0px #000000;
    }

.second{
    /*titulos das seções*/
    text-align: center;
    text-shadow: none;
    }