/* fonte para o titulo João Taboada*/
@font-face {
    font-family: Summit;
    src: local("Summit"), url(SummitBold-Display.ttf); /* tem que estar na mema pasta*/
}

.main-title{
    font-family: 'Nova Square', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #2c2c54;

    text-shadow: 3px 3px 0px #000000;
    }

.second{
    /*Titulos das seções*/
    text-align: center;
    text-shadow: none;
    }

.third{
    /*Fonte do componente skill*/
    color: #d1ccc0;
    font-size: 55px;
}