.main-section{
    border-bottom: 10px solid #2C2C54;
}

.main-section .main-title{
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-section.skills{
    background-color: #706fd3;
}

.main-section.projects{
    background-color: #d1ccc0;
    border-bottom: 10px solid #706FD3;
}

.main-section.about{
    background-color: #2C2C54;
    border-bottom: 10px solid #D1CCC0; 

    overflow: hidden;
}

.main-section.contact{
    background-color: #84817a;
    
    border-bottom: 2px solid #000;
}

/* @media (min-width: 800px){ A PARTIR DE 800 PX
    .main-section{
        height: 100vh;
        background-size: 100%;
    }
} */