.node-card{
    font-size: 40px;
    color: #D1CCC0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-card .logo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 140px;
    
    background-color: #fff;
    border: 3px solid #D1CCC0;
 }

 .node-card .dois-cards{
    display: flex;
 }