.progress-bar{
    box-sizing: border-box;

    width: 400px;
    height: 60px;

    color: #2C2C54;
    background-color: #fff;
    border: 7px solid #d1ccc0;
}

.progress-bar::-webkit-progress-bar, .progress-bar::-moz-progress-bar{
    background-color: #2C2C54;
}