.section{
    padding-top: 50px;
    padding-bottom: 100px;

    height: 730px;

    background-size: 100%;

    border-bottom: 10px solid #2C2C54;
}

.section.skills{
    background-color: #706fd3;
}

.section.projects{
    background-color: #d1ccc0;
    border-bottom: 10px solid #706FD3;
}

