.skill-tec{
    display: flex;
    align-items: center;
}

.skill-tec .title{
    color: #d1ccc0;
    font-size: 50px;
    text-shadow: none;

    margin-bottom: 14px;
}

.skill-tec .icon{
    margin-right: 25px;
    width: 130px;
    height: 130px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.skill-tec .progress{
    border: 7px solid #d1ccc0;
}

.skill-tec .progress-bar{
    background-color: #2C2C54;
}