.skill-bar {
    background-color: #FFF;
    border: 7px solid #d1ccc0;
    height: 60px;
    width: 420px;
}

.skill-bar::-webkit-progress-bar,
.skill-bar::-moz-progress-bar {
    background-color: #2c2c54;
}