.wrapper-skill{
    display: flex;
    flex-wrap: wrap;

    max-width: 66vw;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 5vh;
}

.wrapper-skill .skill-tec{
    /* margin-bottom: 40px; */
}

.wrapper-skill .progress{
    width: 400px;
    height: 60px;
} 

.wrapper-skill .skill-tec:nth-child(even){
    margin-left: 100px;
}

@media (max-width: 800px){ /*ATÉ 800 PX*/
    .wrapper-skill .skill-tec:nth-child(even){
        margin-left: 0;
    }

    .wrapper-skill{
        gap: 80px;
    }
}